{% extends "base.html" %}
{% block body %}
    <nav>
          <span class="pull-right" id="nav-close"><i class="fa fa-times" style="color:white;"></i></span>
          <br>

          <h3  id="node-name"></h3>
          <h3  id="node-description"></h3>
          <hr>
          <span id="node-details"></span>
      </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div id="graph"></div>
        </div>

        <div class="col-md-4">
          <p>Some periferical data here</p>
        </div>

      </div>
      <hr>
    </div> <!-- /container -->

<style>
.node {
  border-style: double 2px;
}

nav h3 {
  font-size: 18px;
  color: white;
  text-align: center;
}
</style>

<script>
function get_type(id) {
  first = id.split(":")[0];
  third = id.split(":")[2];
  if (first == "openflow" && third == undefined) {
    return "switch";
  } else {
    return "port";
  }
}

function get_force_type(object) {
  source = object['source']['name'];
  target = object['target']['name'];

  s_type = get_type(source);
  t_type = get_type(target);

  if (s_type == "port" || t_type == "port") {
    return "port";
  } else {
    return "switch";
  }
}

function get_node_details(id, json) {
  var found = 0;
  json.forEach(function(json) {
    key = Object.keys(json)[0];
    if (key == id) { found = json }
  });
  return found;
}

function clear_pannel_info() {
  $("#node-details").html('');
}

function update_pannel_info(id, details) {
  clear_pannel_info();
  node = details[id];
  $("#node-name").html(id);
  $("#node-description").html(node['description']);

  // Prepare and compile template
  var source = $("#switch-details-template").html();
  var template = Handlebars.compile($.trim(source));

  // Prepare connectors
 connectors = [];
  node['connectors'].forEach(function(connector) {
    key = Object.keys(connector)[0];
    details = connector[key];
    details['id'] = key;
    connectors.push(details);
  });

  console.log(connectors);

  var context = {hardware: node['hardware'],
                 software: node['software'],
                 address: node['ip_address'],
                 manufacturer: node['manufacturer'],
                 connectors_len: node['connectors'].length,
                 tables_len: node['tables'].length,
                 connectors: connectors};

  var html = template(context);

  $("#node-details").html(html);
}

var nodes = {};

d3.json("{{ url_for('static', filename='data/full.json') }}", function(data) {
  var json = data;

  links = json['links']
  // Compute the distinct nodes from the links.
  links.forEach(function(link) {
    link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
    link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
  });



var width = $("#graph").parent().width(),
    height = 700;

var force = d3.layout.force()
    .nodes(d3.values(nodes))
    .links(links)
    .size([width, height])
    .linkDistance(function(d) { if (get_force_type(d) == "switch") { return 160; } else { return 10; }})
    .charge(-700)
    .on("tick", tick)
    .start();

var svg = d3.select("#graph").append("svg")
    .attr("width", width)
    .attr("height", height);

var link = svg.selectAll(".link")
    .data(force.links())
  .enter().append("line")
    .attr("class", "link");

var node = svg.selectAll(".node")
    .data(force.nodes())
  .enter().append("g")
    .attr("class", "node")
    .on("mouseover", mouseover)
    .on("mouseout", mouseout)
    .call(force.drag);

node.append("circle")
    .attr("r", function(d) { if (get_type(d['name']) == "switch") { return 20; } else { return 10; }});

node.append("text")
    .attr("x", 22)
    .attr("dy", ".35em")
    .text(function(d) { if (get_type(d.name) == "switch") return d.name; });

function tick() {
  link
      .attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });

  node
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
}

function mouseover() {

  id = d3.select(this)[0][0].__data__.name;
/*
  d3.select(this).select("circle").transition()
      .duration(750)
      .attr("r", 26);
*/

  details = get_node_details(id, json['nodes']);
  update_pannel_info(id, details);


  $('body').removeClass('nav-expanded');
  $('body').toggleClass('nav-expanded');
}

function mouseout() {
/*
  d3.select(this).select("circle").transition()
      .duration(750)
      .attr("r", 20);
*/

  // $('body').removeClass('nav-expanded');

}

});
</script>

<script>
  $(document).ready(function(){
     //Navigation Menu Slider
     $('#nav-close').on('click',function(e){
         e.preventDefault();
         $('body').removeClass('nav-expanded');
     });
  });
</script>

<!-- Handlebars templates -->
{% raw %}
<script id="switch-details-template" type="text/x-handlebars-template">
        <div class="row">
          <div class="col-md-6 text-right">
            <span class="details-keys">Hardware:</span>
          </div>
          <div class="col-md-6">
            <span class="details-values">{{ hardware }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 text-right">
            <span class="details-keys">Software:</span>
          </div>
          <div class="col-md-6">
            <span class="details-values">{{ software }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 text-right">
            <span class="details-keys">Address:</span>
          </div>
          <div class="col-md-6">
            <span class="details-values">{{address}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 text-right">
            <span class="details-keys">Manufacturer:</span>
          </div>
          <div class="col-md-6">
            <span class="details-values">{{manufacturer}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 text-right">
            <span class="details-keys">OF Connectors:</span>
          </div>
          <div class="col-md-6">
            <span class="details-values">{{connectors_len}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 text-right">
            <span class="details-keys">OF Tables:</span>
          </div>
          <div class="col-md-6">
            <span class="details-values">{{tables_len}}</span>
          </div>
        </div>

<h3>Connectors</h3>

  <div class="row row-fluid">
  <div class="col-md-12 connectors">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>port</th>
        <th>hardware_address</th>
        <th>status</th>
      </tr>
    </thead>
    <tbody>
  {{#each connectors}}
      <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{port_number}}</td>
        <td>{{hardware_address}}</td>
        <td>{{status}}</td>
      </tr>
  {{/each}}
    </tbody>
  </table>
  </div>
  </div>

</script>
{% endraw %}

{% endblock %}
